@import "../../assets/styles/variables.scss";
@import "../../assets/styles/reset.scss";

* {
    font-family: $font-roboto;
}

.layout {
    position: relative;
    height: 100vh;
    max-height: 100%;
    width: 100%;
}