@import "../../assets/styles/variables.scss";

.restaurant-card {
    display: flex;
    border-radius: 10px;
    gap: 0.6rem;
    overflow: hidden;
    background-color: white;
    width: 100%;
    cursor: pointer;

    &__image-container {
        width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        border-radius: 10px 10px 0 10px;
    }

    &__image {
        width: 130px;
        height: 130px;
        object-fit: cover;

    }

    &__rectangle {
        position: absolute;
        height: 100%;
        right: -2px;
        bottom: -2px;
    }

    &__info-container {
        padding: 0.5rem;
        padding-top: 0;
    }

    &__title {
        font-size: 14px;
        color: $dark-color;
        font-weight: 400;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 1rem;
    }

    &__rate {
        margin-bottom: 10px;
        margin-right: 0.3px;
    }

    &__rate-icon {
        height: 12px;
    }

    &__star-full {
        filter: invert(97%) sepia(56%) saturate(3404%) hue-rotate(326deg) brightness(105%) contrast(103%);
    }

    &__star-empty {
        filter: invert(73%) sepia(13%) saturate(10%) hue-rotate(24deg) brightness(90%) contrast(91%);
    }

    &__schedule {
        font-weight: 300;
        font-size: 14px;
        letter-spacing: -0.3px;
        color: $dark-color;
        margin-bottom: 4px;
    }

    &__delivery-price {
        font-weight: 300;
        font-size: 11px;
        color: $gray-color;
        letter-spacing: -0.3px;

        span {
            color: $dark-color;
        }
    }
}

@media screen and (min-width: 1100px) {
    .restaurant:hover .restaurant__image {
        transform: scale(1.2);
        opacity: 0.9;
    }
}