@import "../../assets/styles/reset.scss";
@import "../../assets/styles/variables.scss";

.AllOrders{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding-bottom: 50px;
}

.AllOrders__container {

  @include tablet{
    width: 700px;
  }
  @include desktop{
    width: 1000px;
  }
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 0px 5vh 2vw;
  gap: 20px;
  font-family: $font-roboto;
  color: $dark-color;
  & .AllOrders__orders {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__ind {
      display: flex;
      justify-content: space-between;
      height: 10vh;
    
      & .orders__info {
        display: flex;
        gap: 20px;
        cursor: pointer;
        &:hover{
          & img {
            transform: scale(.9);
          }
        }
        & figure {
          height: 100%;
          overflow: hidden;
          & img {
            transition: 300ms ease all;
            height: 100%;
            border-radius: 100%;
            max-height: 50px;
            max-width: 50px;
            @include tablet{
              max-height: 120px;
              max-width: 120px;
            }
            @include desktop{
              max-height: 120px;
              max-width: 120px;
            }
          }
        }

        & div {
          display: flex;
          flex-direction: column;
          gap: 20px;

          & span {
            color: $gray-color;
          }
        }
      }

      & .orders__status {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
        & figure {
          display: flex;

          & img {
            object-fit: cover;
            height: 100%;
            align-self: center;
          }
        }

        &__DELIVERED {
          color: $green-color;
        }

        &__CANCELLED {
          color: $red-color
        }
      }
    }
  }
}