@import "../../assets/styles/reset.scss";
@import "../../assets/styles/variables.scss";

.DefaultHeader__container {
  width: 100%;
  display: flex;
  padding: 5vh 0vw;
  font-family: $font-roboto;
  color: $dark-color;
  align-items: center;
  position: relative;
  @include tablet{
    width: 700px;
  }
  @include desktop{
    width: 1000px;
  }
  &__figure {
    width: 10vw;
    display: flex;
    left: 20px;
    position: absolute;
    & img {
      object-fit: cover;
      height: 100%;
      align-self: center;
      cursor: pointer;
    }
  }

  &__text {
    align-self: center;
    justify-self: center;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

}