@import "../../assets/styles/variables.scss";

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.9rem 0;
    background-color: white;

    &__icon {
        width: 2rem;
        height: 2rem;
    }
}

.active {
    filter: invert(83%) sepia(94%) saturate(3432%) hue-rotate(326deg) brightness(102%) contrast(105%);
    display: flex;
    justify-content: center;
    position: relative;
    gap: 0.5rem;
    div {
        width: 5px;
        height: 5px;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        bottom: -10px;
    }
}
